{% extends 'base.html' %}

{% block content %}
    <h1>Follow the photos that the spy yoshi took</h1>
    <p>Go in the direction of the photo is looking</p>
    <p><i>First take a right at the next crossing, then follow the pictures</i></p>
    <img src="/static/votos/2.jpg" alt="voto">
    <img src="/static/votos/3.jpg" alt="voto">
    <img src="/static/votos/5.jpg" alt="voto">
    <img src="/static/votos/6.jpg" alt="voto">
    <img src="/static/votos/7.jpg" alt="voto">
    <img src="/static/votos/8.jpg" alt="voto">
    <img src="/static/votos/9.jpg" alt="voto">
    <img src="/static/votos/4.jpg" alt="voto">
    <h3>You can find the password at the tree in the last image</h3>
{% endblock %}
