{% extends 'base.html' %}

{% block content %}
    <h1>Bowser fell in the puzzle rabbit hole and is now enjoying his rests in wonderland</h1>
    <p>Every puzzle gives you the next section of the route and always talk about intersections.</p>
    <p><i>mountain bike paths dont count as paths.</i></p>
    <ol>
        <li>
            <h3>Your first move is to promote the pawn on A7, what piece should you promote it into to win?</h3>
            <p><i>You are playing as white and it is whites turn</i></p>
            <img src="/static/smallproblems/chess.jpg" alt="A chess bord">
            <ul>
                <li>Queen <b>straight</b></li>
                <li>Horsey <b>one left</b></li>
                <li>Bishop <b>one right</b></li>
                <li>Rook <b>one slight left</b></li>
            </ul>
        </li>
        <li>
            <h3>What is the middle number?</h3>
            <img src="/static/smallproblems/sudoku.jpg" alt="sudoku">
            <ol>
                <li><b>two rights -> two straights</b></li>
                <li><b>one left -> one right -> two straights</b></li>
                <li><b>four lefts</b></li>
                <li><b>rotate 360° at the spot you are reading this in -> one straight -> two rights -> one left</b></li>
                <li><b>2 lefts -> 4 straight</b></li>
                <li><b>back the way you came from -> two lefts</b></li>
                <li><b>turn around -> turn around again</b></li>
                <li><b>4 straights</b></li>
                <li><b>kabouter dans -> four straights</b></li>
            </ol>
        </li>
        <li>
            <h3>What is the answer?</h3>
            <img src="/static/smallproblems/quickmaths.jpg" alt="quicmahts">
            <ul>
                <li>37 <b>do the kabouterdans</b></li>
                <li>10 <b>one left -> one right -> one straight</b></li>
                <li>7 <b>one left -> one right -> one back</b></li>
                <li>3 <b>one straight -> one left -> one right</b></li>
                <li>6 <b>one left -> two straights</b></li>
            </ul>
        </li>
        <li>
            <h3>Bowser has been bowling but with his own pins, he score exactly 100 points. Which of the following pins did he knock over?</h3>
            <img src="/static/smallproblems/pins.jpg" alt="pins">
            <ul>
                <li>24 <b>one left -> left at the big road -> one left (big sign)</b></li>
                <li>13 <b>one left -> right at the big road -> left after the parking lot (entrance to the woods)</b></li>
                <li>47 <b>one left -> right at the big road -> straight after the paring lot one right through the metal gate.</b></li>
                <li>100 <b>follow the white rabbit -> hide behind a car and send a selfie to luko.</b></li>
            </ul>
        </li>
        <li>
            <h3>Bowser has left some tickets to the superbowl, what is the number of the last ticket</h3>
            <img src="/static/smallproblems/bowl.jpg" alt="bowl">
            <ul>
                <li>563412 <b>straight -> one left -> one right -> straight</b></li>
                <li>653412 <b>straight -> one right -> one left -> one left</b></li>
                <li>561234 <b>straight -> two rights -> straight</b></li>
                <li>125634 <b>have you found the white rabbit yet?</b></li>
            </ul>
        </li>
    </ol>
    <h2>Walk until the next crossing to find the password.</h2>
{% endblock %}