{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the dropping <img class="star" src="https://www.clipartmax.com/png/middle/85-851004_star-clipart-transparent-background-mario-star.png" height="50px" alt="mario star"> </h1>
    <img src="https://i.gifer.com/YBLI.gif" width="100%" alt="Dropping image">

    <h3>Bowser has kidnapped Peach</h3>
    <img src="https://i.pinimg.com/736x/80/5f/8c/805f8ce4a2193f6adb83c9d4f6603c0f--mario.jpg" width="100%" alt="Image of bowser">
    <br>

    <h3>Luckily the toads have found a secret way to there Peach is hidden, follow there hidden hints to save her</h3>
    <img src="https://www.mariowiki.com/images/6/6d/Toad_Artwork_-_Mario_Party_5.png" width="100%" alt="Image of taod running away">

    <h3>Now fill in the password to find where to go next</h3>
{% endblock %}

{% block fail %}
    Password was wrong, wait one minute before trying again
{% endblock %}