{% extends 'base.html' %}
{% block content %}
    <h1>Rising high on mushrooms</h1>
    <h3>The tournament is organised by a fucking plumber high on shrooms. the tournament has a weird set up.</h3>
    <p>The tournament starts with 4 brackets. this will decide which poul you go to. The winners of the bracket will play in the finals, consisting of 4 players. The second place of the bracket will play for the 5-8th spots, and third and fourth place will play in the losers poul (9-15th place).</p>
    <p>Teams are placed in brackets according to there seeding. The first four seeds are in the first bracket, the next four in the second bracket and so on. The first and second seeded in a bracket play against each other, the third and fourth do too. When there is no opponent available for a match, the other team automatically wins.</p>
    <h3>The seeding</h3>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-color:black;border-spacing:0;border-style:solid;border-width:1px;}
    .tg td{border-style:solid;border-width:0px;
      padding:10px 5px;word-break:normal;}
    .tg .tg-b {border-right-width: 1px;}
    </style>
    <table class="tg">
    <tbody>
      <tr>
        <td class="tg-0lax">1</td>
        <td class="tg-de2y tg-b">Yoshi</td>
        <td class="tg-0lax">9</td>
        <td class="tg-0lax">Koopa</td>
      </tr>
      <tr>
        <td class="tg-0lax">2</td>
        <td class="tg-0lax tg-b">Mario</td>
        <td class="tg-0lax">10</td>
        <td class="tg-0lax">Wario</td>
      </tr>
      <tr>
        <td class="tg-0lax">3</td>
        <td class="tg-0lax tg-b">Toad</td>
        <td class="tg-0lax">11</td>
        <td class="tg-0lax">Waluigi</td>
      </tr>
      <tr>
        <td class="tg-0lax">4</td>
        <td class="tg-0lax tg-b">Donky Kong</td>
        <td class="tg-0lax">12</td>
        <td class="tg-0lax">Shy Guy</td>
      </tr>
      <tr>
        <td class="tg-0lax">5</td>
        <td class="tg-0lax tg-b">Luigi</td>
        <td class="tg-0lax">13</td>
        <td class="tg-0lax">Baby Luigi</td>
      </tr>
      <tr>
        <td class="tg-0lax">6</td>
        <td class="tg-0lax tg-b">Peach</td>
        <td class="tg-0lax">14</td>
        <td class="tg-0lax">Baby Mario</td>
      </tr>
      <tr>
        <td class="tg-0lax">7</td>
        <td class="tg-0lax tg-b">Bowser</td>
        <td class="tg-0lax">15</td>
        <td class="tg-0lax">BFrisBee2's</td>
      </tr>
      <tr>
        <td class="tg-0lax">8</td>
        <td class="tg-0lax tg-b">Daisy</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
      </tr>
    </tbody>
    </table>
    <p>In every poul a round-robin is played. After the round-robin the placement is decided by the following rules. If the first rule does not decide a placement for two teams, the next rule is used and so on.</p>
    <ol>
        <li>Number of wins in the poul, higher is better</li>
        <li>Alphabetical order of 2 letter of their name, lower is better</li>
        <li>Points scored in lost games in the poul, higher is better</li>
        <li>Date of release by nintendo, earlier is better</li>
    </ol>
    <h3>Sadly only the paper containing the results of all the games survived, hopefully it will be enough to answer the questions below.</h3>
    <div style="overflow:auto; height:400px; width: auto;">
    <style type="text/css">
        .tg  {border-collapse:collapse;border-color:#C44D58;border-spacing:0;border-style:solid;border-width:1px;}
        .tg td{background-color:#F9CDAD;border-color:#C44D58;border-style:solid;border-width:0px;color:#002b36;
          font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{background-color:#FE4365;border-color:#C44D58;border-style:solid;border-width:0px;color:#fdf6e3;
          font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-sxqf{border-color:inherit;font-family:inherit;text-align:left;vertical-align:top}
        .tg .tg-brdm{background-color:#FFA4A0;border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-x1nj{background-color:#FFA4A0;border-color:inherit;font-family:inherit;text-align:left;vertical-align:top}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky">Time</th>
            <th class="tg-0pky">Team</th>
            <th class="tg-0pky">Team</th>
            <th class="tg-sxqf">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-brdm">9:00</td>
            <td class="tg-brdm">yoshi</td>
            <td class="tg-brdm">mario</td>
            <td class="tg-x1nj">15-3</td>
          </tr>
          <tr>
            <td class="tg-0pky">9:00</td>
            <td class="tg-0pky">toad </td>
            <td class="tg-0pky">DK</td>
            <td class="tg-sxqf">12-10</td>
          </tr>
          <tr>
            <td class="tg-brdm">9:00</td>
            <td class="tg-brdm">luigi </td>
            <td class="tg-brdm">peach</td>
            <td class="tg-x1nj">10-12</td>
          </tr>
          <tr>
            <td class="tg-0pky">9:00</td>
            <td class="tg-0pky">bowser</td>
            <td class="tg-0pky">daisy</td>
            <td class="tg-sxqf">1-2</td>
          </tr>
          <tr>
            <td class="tg-brdm">9:00</td>
            <td class="tg-brdm">koopa loopa</td>
            <td class="tg-brdm">wario</td>
            <td class="tg-x1nj">5-5</td>
          </tr>
          <tr>
            <td class="tg-0pky">9:00</td>
            <td class="tg-0pky">waluigi</td>
            <td class="tg-0pky">shy guy</td>
            <td class="tg-sxqf">8-14</td>
          </tr>
          <tr>
            <td class="tg-brdm">9:00</td>
            <td class="tg-brdm">baby mario</td>
            <td class="tg-brdm">baby luigi</td>
            <td class="tg-x1nj">11-8</td>
          </tr>
          <tr>
            <td class="tg-0pky">9:56</td>
            <td class="tg-0pky">yoshi</td>
            <td class="tg-0pky">Toad</td>
            <td class="tg-sxqf">15-7</td>
          </tr>
          <tr>
            <td class="tg-brdm">9:56</td>
            <td class="tg-brdm">peach</td>
            <td class="tg-brdm">daisy</td>
            <td class="tg-x1nj">7-14</td>
          </tr>
          <tr>
            <td class="tg-0pky">9:56</td>
            <td class="tg-0pky">wario</td>
            <td class="tg-0pky">shy guy</td>
            <td class="tg-sxqf">1-6</td>
          </tr>
          <tr>
            <td class="tg-brdm">9:56</td>
            <td class="tg-brdm">baby mario</td>
            <td class="tg-brdm">BF2</td>
            <td class="tg-x1nj">14-1</td>
          </tr>
          <tr>
            <td class="tg-0pky">9:56</td>
            <td class="tg-0pky">mario</td>
            <td class="tg-0pky">DK</td>
            <td class="tg-sxqf">3-12</td>
          </tr>
          <tr>
            <td class="tg-brdm">9:56</td>
            <td class="tg-brdm">luigi</td>
            <td class="tg-brdm">bowser</td>
            <td class="tg-x1nj">1-14</td>
          </tr>
          <tr>
            <td class="tg-0pky">9:56</td>
            <td class="tg-0pky">koopa loopa</td>
            <td class="tg-0pky">waluigi</td>
            <td class="tg-sxqf">1-1</td>
          </tr>
          <tr>
            <td class="tg-brdm">10:37</td>
            <td class="tg-brdm">yoshi</td>
            <td class="tg-brdm">daisy</td>
            <td class="tg-x1nj">12-9</td>
          </tr>
          <tr>
            <td class="tg-0pky">10:37</td>
            <td class="tg-0pky">shy guy</td>
            <td class="tg-0pky">baby M</td>
            <td class="tg-sxqf">12-10</td>
          </tr>
          <tr>
            <td class="tg-brdm">10:37</td>
            <td class="tg-brdm">toad</td>
            <td class="tg-brdm">peach</td>
            <td class="tg-x1nj">21-21</td>
          </tr>
          <tr>
            <td class="tg-0pky">10:37</td>
            <td class="tg-0pky">wario</td>
            <td class="tg-0pky">bfrisbee2s</td>
            <td class="tg-sxqf">12-1</td>
          </tr>
          <tr>
            <td class="tg-brdm">10:37</td>
            <td class="tg-brdm">mario</td>
            <td class="tg-brdm">luigi</td>
            <td class="tg-x1nj">10-10</td>
          </tr>
          <tr>
            <td class="tg-0pky">10:37</td>
            <td class="tg-0pky">DK</td>
            <td class="tg-0pky">Bowser</td>
            <td class="tg-sxqf">2-15</td>
          </tr>
          <tr>
            <td class="tg-brdm">10:37</td>
            <td class="tg-brdm">koopa loopa </td>
            <td class="tg-brdm">baby L</td>
            <td class="tg-x1nj">1-3</td>
          </tr>
          <tr>
            <td class="tg-0pky">12:08</td>
            <td class="tg-0pky">yoshi</td>
            <td class="tg-0pky">Shy Guy</td>
            <td class="tg-sxqf">12-4</td>
          </tr>
          <tr>
            <td class="tg-brdm">12:08</td>
            <td class="tg-brdm">daisy</td>
            <td class="tg-brdm">Baby mario</td>
            <td class="tg-x1nj">1-12</td>
          </tr>
          <tr>
            <td class="tg-0pky">12:08</td>
            <td class="tg-0pky">toad</td>
            <td class="tg-0pky">wario</td>
            <td class="tg-sxqf">5-5</td>
          </tr>
          <tr>
            <td class="tg-brdm">12:08</td>
            <td class="tg-brdm">peach</td>
            <td class="tg-brdm">bf2s</td>
            <td class="tg-x1nj">15-0</td>
          </tr>
          <tr>
            <td class="tg-0pky">12:08</td>
            <td class="tg-0pky">baby luigi</td>
            <td class="tg-0pky">bowser</td>
            <td class="tg-sxqf">2-17</td>
          </tr>
          <tr>
            <td class="tg-brdm">12:08</td>
            <td class="tg-brdm">DK</td>
            <td class="tg-brdm">Koopa Loopa</td>
            <td class="tg-x1nj">2-14</td>
          </tr>
          <tr>
            <td class="tg-0pky">12:08</td>
            <td class="tg-0pky">luigi</td>
            <td class="tg-0pky">waluigi</td>
            <td class="tg-sxqf">0-0</td>
          </tr>
          <tr>
            <td class="tg-brdm">14:19</td>
            <td class="tg-brdm">yoshi</td>
            <td class="tg-brdm">baby mario</td>
            <td class="tg-x1nj">16-0</td>
          </tr>
          <tr>
            <td class="tg-0pky">14:19</td>
            <td class="tg-0pky">daisy</td>
            <td class="tg-0pky">shy guy</td>
            <td class="tg-sxqf">2-1</td>
          </tr>
          <tr>
            <td class="tg-brdm">14:19</td>
            <td class="tg-brdm">toad</td>
            <td class="tg-brdm">bf2s</td>
            <td class="tg-x1nj">0-0</td>
          </tr>
          <tr>
            <td class="tg-0pky">14:19</td>
            <td class="tg-0pky">peach</td>
            <td class="tg-0pky">wario</td>
            <td class="tg-sxqf">2-18</td>
          </tr>
          <tr>
            <td class="tg-brdm">14:19</td>
            <td class="tg-brdm">mario</td>
            <td class="tg-brdm">koopa loopa</td>
            <td class="tg-x1nj">2-10</td>
          </tr>
          <tr>
            <td class="tg-0pky">14:19</td>
            <td class="tg-0pky">luigi</td>
            <td class="tg-0pky">baby luigi</td>
            <td class="tg-sxqf">2-12</td>
          </tr>
          <tr>
            <td class="tg-brdm">14:19</td>
            <td class="tg-brdm">bowser</td>
            <td class="tg-brdm">waluigi</td>
            <td class="tg-x1nj">14-0</td>
          </tr>
        </tbody>
        </table>
    </div>
    <h3>Answer the questions below and use them to find the next part of the route to save Peach</h3>
    <h4>1: Who is in 1st place?</h4>
    <ol type="A">
        <li>Yoshi</li>
        <li>Daisy</li>
        <li>Bowser</li>
        <li>Luigi</li>
        <li>BF2's</li>
    </ol>
    <h4>2: Who is in 10th place?</h4>
    <ol type="A">
        <li>Koopa</li>
        <li>Baby Luigi</li>
        <li>The is no C, you dum dum</li>
    </ol>
    <h4>3: Where does BF2's end up?</h4>
    <ol type="A">
        <li>15th</li>
        <li>8th</li>
        <li>7th</li>
    </ol>
    <h4>4: Who ends up in 13th place?</h4>
    <ol type="A">
        <li>Waluigi</li>
        <li>Luigi</li>
        <li>Mario</li>
    </ol>
    <h4>5: Who ends up in 2nd place?</h4>
    <ol type="A">
        <li>Daisy</li>
        <li>Baby Mario</li>
    </ol>
    <h4>6: You can find the answer together with the password under one of the benches</h4>
    <img src="/static/tournament/maps.jpg" alt="The maps">
{% endblock %}
